.modelodearduino {
  border: 4px solid black;
  border-radius: 5px;
  transition-property: margin-left;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2ms;
}

.modelodearduino:active {
  margin-left: 82%;
}

.imagen1 {
  position: relative;
  right: 10px;
  bottom: 10px;
}

.arduinouno {
  position: absolute;
  left: 500px;
}

body header h1 {
  text-align: center;
}

@media screen and (max-width: 1024px) {
  body .headerli nav ul li {
    padding: 5px;
    margin: 20px;
    border-radius: 10px;
    left: 30px;
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  body .headerli nav ul li {
    padding: 4px;
    margin: 4px;
    border-radius: 6px;
    left: 0px;
    font-size: 18px;
  }
}
body {
  background-color: beige;
}
body header nav ul li {
  margin-left: 120px;
  display: inline-block;
  color: rgb(9, 2, 15);
  padding: 10px;
  background-color: rgb(14, 177, 106);
  margin: 30px;
  border: 3px solid rgb(0, 14, 9);
  border-radius: 15px;
  position: relative;
  left: 100px;
  font-family: "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
body header nav ul li a {
  text-decoration: none;
}
body header .imagen1 {
  /*display: none;*/
  vertical-align: middle;
  /* margin-top: -70px;*/
  border: 2px solid rgb(129, 189, 134);
  border-radius: 10px;
  position: fixed;
  z-index: 100;
  width: 100px;
  /*bottom: 10px;
  right: 10px;*/
}
body main {
  font-size: 18px;
}
body main h1 {
  text-align: center;
}
body main .principal {
  font-family: "Arial";
  text-align: center;
  color: rgb(52, 128, 52);
  background: linear-gradient(to right, yellow, pink, violet);
  padding: 15px 5px;
  margin-top: 25px;
  margin-bottom: 90px;
  margin-left: 40px;
  margin-right: 40px;
  border: 3px solid rgb(5, 1, 1);
  border-radius: 15px;
}
body main #principalA::first-letter {
  font-family: "Courier New", Courier, monospace;
  font-size: 40px;
  color: darkgreen;
}
body main .position {
  position: relative;
  left: 800px;
  width: 200px;
}
body main .arduinouno {
  position: relative;
  /* left: 500px;*/
  transition-property: margin-left;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2ms;
}
body main .arduinouno:hover {
  transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
  body .main1 {
    font-size: medium;
  }
  body .main1 .principal {
    font-size: larger;
    border-radius: 12px;
    padding: 10px 4px;
    margin-bottom: 70px;
  }
  body .main1 .position {
    position: relative;
    left: 400px;
  }
  body .main1 .arduinouno {
    position: relative;
    left: 200px;
  }
}
@media screen and (max-width: 768px) {
  body .main1 {
    font-size: small;
  }
  body .main1 .principal {
    font-size: small;
    border-radius: 10px;
    padding: 8px 2px;
    margin-bottom: 10px;
  }
  body .main1 .position {
    position: relative;
    left: 50px;
  }
  body .main1 .arduinouno {
    position: relative;
    bottom: 280px;
    left: 220px;
    width: 80px;
  }
}
body {
  background-color: beige;
}
body main {
  font-size: 18px;
}
body main h2 {
  text-align: center;
}
body main .brown {
  color: rgb(179, 69, 69);
}
body main .contenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 500px 100px;
  grid-template-areas: "header header header" "sidebar sidebar sombra1" "footer footer footer";
}
body main .contenedor .header {
  background-color: rgb(154, 240, 190);
  grid-column-start: header;
  grid-column-end: header;
}
body main .contenedor .sidebar {
  background-color: rgb(255, 253, 127);
  grid-column-start: sidebar;
  grid-column-end: sidebar;
}
body main .contenedor .sidebar .imagen2B {
  position: relative;
  top: 35px;
  left: 20px;
  width: 600px;
}
body main .contenedor .sombra1 {
  background-color: rgb(100, 209, 252);
  grid-column-start: sombra1;
  grid-column-end: sombra1;
}
body main .contenedor .sombra1 .imagen2 {
  position: relative;
  top: 110px;
  left: 100px;
  width: 400px;
}
body main .contenedor .footer {
  background-color: rgb(248, 192, 119);
  grid-column-start: footer;
  grid-column-end: footer;
}

@media screen and (max-width: 1024px) {
  body .main {
    font-size: medium;
    background-color: rgb(233, 233, 122);
  }
  body .main .imagen2 {
    position: relative;
    top: 80px;
    left: 50px;
    width: 400px;
  }
  body .main .position {
    position: relative;
    left: 400px;
  }
  body .main .imagen2 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body .main {
    font-size: 12px;
    background-color: rgb(223, 223, 81);
  }
  body .main .position {
    position: relative;
    left: 100px;
  }
  body .main .imagen2 {
    display: none;
  }
  body .main .imagen2B {
    max-width: 80%;
    position: relative;
    left: 50px;
    top: 10px;
  }
}
body main .contenedor {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 500px 100px;
  grid-template-areas: "header header header" "sidebar sidebar sombra1" "footer footer footer";
}
body main .contenedor .header {
  background-color: rgb(154, 240, 190);
  grid-column-start: header;
  grid-column-end: header;
}
body main .contenedor .header .blue {
  color: rgb(69, 69, 180);
}
body main .contenedor .header .imagen3 {
  width: 350px;
}
body main .contenedor .sidebar {
  background-color: rgb(255, 253, 127);
  grid-column-start: sidebar;
  grid-column-end: sidebar;
}
body main .contenedor .sidebar .blue {
  color: rgb(69, 69, 180);
}
body main .contenedor .sombra1 {
  background-color: rgb(100, 209, 252);
  grid-column-start: sombra1;
  grid-column-end: sombra1;
}
body main .contenedor .sombra1 .imagen4 {
  width: 600px;
  height: 500px;
}
body main .contenedor .footer {
  background-color: rgb(248, 192, 119);
  grid-column-start: footer;
  grid-column-end: footer;
}

@media screen and (max-width: 1024px) {
  body main {
    font-size: medium;
  }
  body main .imagen3 {
    width: 250px;
    height: 200px;
    position: relative;
    left: 0px;
  }
  body main .imagen4 {
    width: 290px;
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  body main {
    font-size: 12px;
  }
  body main .imagen3 {
    position: relative;
    left: 15px;
    top: 30px;
    max-width: 90%;
    height: 150px;
  }
  body main .imagen4 {
    display: none;
  }
}
body main h2 {
  text-align: center;
}
body main .slide {
  width: 600px;
  position: relative;
  left: 650px;
}
body main .slide .d-block {
  height: 400px;
}

@media screen and (max-width: 1024px) {
  body main .slide {
    width: 500px;
    left: 280px;
  }
}
@media screen and (max-width: 768px) {
  body main .slide {
    width: 320px;
    left: 0px;
  }
}
body main {
  /* .ModelodeArduino {
                     border: 4px solid black;  
                     border-radius: 5px;
                    } */
}
body main .orange {
  color: rgb(197, 130, 4);
}

@media screen and (max-width: 1024px) {
  main {
    font-size: medium;
  }
}
@media screen and (max-width: 768x) {
  main {
    font-size: small;
  }
}
body .footerB {
  background-color: rgb(248, 192, 119);
  height: 100px;
}
body .Inicio {
  color: rgb(9, 2, 15);
  padding: 10px;
  background-color: rgb(240, 129, 38);
  margin: 40px;
  border: 3px solid red;
  border-radius: 15px;
  position: relative;
  top: 40px;
  text-decoration: none;
}
body .pagina2 {
  color: rgb(9, 2, 15);
  padding: 10px;
  background-color: rgb(240, 129, 38);
  margin-left: 35px;
  border: 3px solid red;
  border-radius: 15px;
  position: relative;
  top: 40px;
  text-decoration: none;
}
body .pagina3 {
  color: rgb(9, 2, 15);
  padding: 10px;
  background-color: rgb(240, 129, 38);
  margin-left: 0px;
  border: 3px solid red;
  border-radius: 15px;
  position: relative;
  top: 40px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  body .Inicio {
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
  }
  body .pagina2 {
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;
  }
  body .pagina3 {
    padding: 5px;
    margin-left: 0px;
    border-radius: 10px;
  }
  body .footerB .Inicio {
    padding: 5px;
    margin: 30px;
    border-radius: 10px;
  }
  body .footerB .pagina2 {
    padding: 5px;
    margin-left: 30px;
    border-radius: 10px;
  }
  body .footerB .pagina3 {
    padding: 5px;
    margin-left: 0px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
