@mixin card($eje-x, $eje-y ){
                 position: relative;  
                 right:$eje-x ;
                 bottom: $eje-y ;    
                     }

.imagen1{
    @include card(10px,10px);
}                 



@mixin card1($param1){

    position: absolute;
    left: $param1;
    
               }

.arduinouno{
@include card1(500px);
} 
