$Amarillo1: yellow;
$Amarillo2: rgb(255, 253, 127);
$Verde1:rgb(14, 177, 106);
$Verde2:rgb(129, 189, 134);
$Verde3:rgb(52, 128, 52);
$Verde4:darkgreen;
$Verde5:rgb(154, 240, 190);
$Negro1:rgb(0, 14, 9);
$Negro2:rgb(5, 1, 1);
$Negro3:rgb(9, 2, 15);
$Marron:rgb(179, 69, 69);
$Celeste1:rgb(100, 209, 252);
$Naranja1:rgb(248, 192, 119);
$Naranja2:rgb(197, 130, 4);
$Azul1:rgb(69, 69, 180);