body{
 
     .footerB {
               background-color: rgb(248, 192, 119);
               height: 100px;
              }
    
     .Inicio {
               color: rgb(9, 2, 15);
               padding: 10px;
               background-color: rgb(240, 129, 38);
               margin: 40px;
               border: 3px solid red;
               border-radius: 15px;    
               position: relative;
               top: 40px; 
               text-decoration: none;
               
              }
           
     .pagina2 {
                color: rgb(9, 2, 15);
                padding: 10px;
                background-color: rgb(240, 129, 38);
                margin-left:  35px;
                border: 3px solid red;
                border-radius: 15px;    
                position: relative;
                top: 40px; 
                text-decoration: none;  
               }
           
     .pagina3 {
                color: rgb(9, 2, 15);
                padding: 10px;
                background-color: rgb(240, 129, 38);
                margin-left:  0px;
                border: 3px solid red;
                border-radius: 15px;    
                position: relative;
                top: 40px;  
                text-decoration: none;
                }                
 
    }

  

    @media  screen and (max-width:768px) {

     body{
          .Inicio {
                   padding: 5px;
                   margin: 30px;
                   border-radius: 10px;    
                  }
      
          .pagina2 {
                    padding: 5px;
                    margin-left:  30px;
                    border-radius: 10px;    
                    }
      
          .pagina3 {
                    padding: 5px;
                    margin-left:  0px;
                    border-radius: 10px;    
                   }  
        
          .footerB{  
               
                   .Inicio {
                            padding: 5px;
                            margin: 30px;
                            border-radius: 10px;    
                            }
  
                   .pagina2 {
                             padding: 5px;
                             margin-left:  30px;
                             border-radius: 10px;    
                            }
  
                    .pagina3 {
                              padding: 5px;
                              margin-left:  0px;
                              border-radius: 10px;    
                             }  

                    }         
          }
     }



